@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;;
}


.container{
	display: flex;
    justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ecf0f1;
}

.content{
	
	background-color: white;
	border-radius: 15px;
	height: 60%;
	width: 80%;
	display: flex;
	justify-content: space-between ;
	align-items: center;

}

.content::before{
	content:"";
	position: absolute;
	background-color: #58af9b;
	width: 40%;
	height: 100%;
}

.first-content{
	display: flex;
	position: relative;
}

.first-column{
	text-align: center;
	flex: 1 0 auto;
	z-index: 10;
	
}
.title{
	
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}
.title-welcome{
	color: #fff;
}
.title-second{
	color: #58af9b;
}

.description{
	font-size: 14px;
	font-weight: 300px;
	line-height: 30px;
}
.description-primary{
	color: white;
}

.description-second{
	color: #7f8c8d;
}


.btn{
	border-radius: 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 10px 50px;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #FFFF;
	width: 150px;
	align-self: center;
	

}

.btn-primary{
	background-color: transparent;
}
.btn-second{
	background-color:#58af9b;
	border: 1px solid #fff;


}
.btn-second:hover{
	background-color: #fff;
	border: 1px solid #58af9b;
	color: #58af9b;
}
.btn-primary:hover{
	background-color:#fff;
	color: #58af9b;

}
.second-column{
	flex: 2 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list-social-media{
	display: flex;
	list-style-type: none;
}
.item-social-media{
	border: 1px solid #bdc3c7;
	border-radius: 50%;
	width: 35px ;
	height: 35px;
	line-height: 35px;
	text-align: center;
	
}
.item-social-media:not(:first-child){ 
	margin-left:10px;
}


.item-social-media a{
	color: #95a5a6 ;
}
.form{
	display: flex;
	flex-direction: column;
	width: 55%;

}
.form input{
	height: 30px;
	border: none;
	background-color: #ecf0f1;
	width: 100%;
	margin-left: 5px;
	outline: none;
}
.label-input{
	background-color: #ecf0f1;
	display: flex;
	align-items: center;
	margin: 8px;
	
}
.icon-modify{
	color: #7f8c8d;
	padding: 0 5px;
}
.second-content{
	position: absolute;
	display: none;
}
